body {
  --bg--img: url('../img/bg-light.png');
  --color--primary: #62a5a1;
  --color--background: #ffffff;
  --color--highlights--primary: #ff02bd;
  --color--highlights--second: #a3865b;
  --color--highlights--thrid: #b6b6b6;
  --color--dark--light: white;
  --color--dark--light--hover: yellow;
  --color--content: #1e282f;
  --color--primary--content: #ffffff;
  
  --font--size--content: 15px;
  --font--size--primary: 17px;
  --font--size--hightlightes: 16px;
}

body.dark {
  --bg--img: url('../img/bg-darw.png');
  --color--primary: #62a5a1;
  --color--background: #1e282f;
  --color--highlights--primary: #ff02bd;
  --color--highlights--second: #a3865b;
  --color--highlights--thrid: #3e3b3b;
  --color--content: #ffffff;
  --color--primary--content: #ffffff;
  --color--dark--light: yellow;
  --color--dark--light--hover: white;
}

body {
  background-image: var(--bg--img);
  background-color: var(--color--background);
  color: var(--color--content);
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: var(--font--size--content);
  margin: 0px;
  padding: 0px;
  border-top: 3px solid var(--color--highlights--second);
}

.nav {
  margin: 20px 50px 0px 50px;
}

.nav [class ^="nav-"] {
  padding: 5px 0px 5px 10px;
}

.nav .nav-function {
  display: inline-block;
  width:100%;
  padding-top: 15px;
}

.nav .nav-function [class^="function-"] {
  float:left;
  width: 48%;
  display:inline-block;
}

.nav .nav-function .function-auth {
  text-align: right;
}

.nav .nav-function .login-yes {
  display: none;
}

.nav .nav-function .login-no {
  display: block;
}

.nav .nav-menu .menu-web div {
  display: inline;
  padding: 0px 5px;
}

.nav .nav-menu .menu-web:first-child {
  padding: 0px 5px 0px 0px;
}

.nav .nav-menu .menu-drop {
  display: none;
  position: relative;
}

.nav .nav-menu .menu-drop .menu-drop-content {
  display: none;
  position: absolute;
  background-color: var(--color--primary);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: var(--color--primary--content);
  text-decoration: none;
}

.nav .nav-menu .menu-drop .menu-drop-content div {
  display: block;
  padding: 12px 10px;
}

.nav .nav-menu .menu-drop .menu-drop-content div:hover {
  background-color: var(--color--highlights--second);
}

.nav .nav-function .function-auth [class^="func-"] {
  display: inline;
  padding: 0px 5px;
}

.nav .nav-menu .menu-web div:hover,
[class^="func-"]:hover {
  color: var(--color--highlights--second);
  cursor: pointer;
}

.nav .nav-search #search-display:after {
  content: "";
  clear: both;
  display: table;
}

.nav .nav-search #search-display:not(:last-child) {
  border-right: none;
}

.nav .nav-search #search-display input[type=text] {
  border-radius: 5px 0px 0px 5px;
  float: left;
  font-size: var(--font--size--primary);
  border: none;
  width: 80%;
  padding: 10px 0px 10px 5px;
}

.nav .nav-search #search-display button {
  border-radius: 0px 5px 5px 0px;
  float: left;
  width: 15%;
  padding: 9px 10px 9px 0px;
  font-size: var(--font--size--primary);
  border: none;
  color: var(--color--background);
  background-color: var(--color--highlights--primary);
}

.nav .nav-search #search-display button:hover {
  color: var(--color--content);
  background-color: var(--color--highlights--thrid);
}

.nav .nav-search #search-result {
  position: absolute;
  display: block;
  width: 99%;
  background-color: var(--color--highlights--second);
}

.content-main {
  color: var(--color--content);
  margin: 5px 50px;
  display:block;
}

.content-main .main-slideshow {}

.content-main .main-slideshow .slideshow-header {
  display: inline-block;
  padding: 5px 10px;
}

.content-main .main-slideshow .slideshow-body {
  position: relative;
  display:inline-block;
  width:100%;  
}

.content-main .main-slideshow .slideshow-body .item-image {
  width:25%;
  display: none;
  float:left;
}

.content-main .main-slideshow .slideshow-body .item-next,
.content-main .main-slideshow .slideshow-body .item-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: var(--color--content);
  color: var(--color--background);
  font-weight: bold;
  font-size: var(--font--size--primary);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.content-main .main-slideshow .slideshow-body .item-next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 2px;
}

.content-main .main-slideshow .slideshow-body .item-next:hover,
.content-main .main-slideshow .slideshow-body .item-prev:hover {
  background-color: var(--color--highlights--second)
}

.content-main .main-slideshow .slideshow-body .item-image img {
  display: block;
  height: 250px;
  width: 99%;
}

.content-main .main-slideshow .slideshow-body .item-image {
  position: relative;
}

.content-main .main-slideshow .slideshow-body .item-image .image-content {
  background-color: var(--color--content);
  opacity: 0.9;
  font-size: var(--font--size--hightlightes);
  position: absolute;
  bottom: 0px;
  width: 99%;
  padding: 5px 0px;
}

.content-main .main-slideshow .slideshow-body .item-image .image-content:hover {
  background-color: var(--color--highlights--second);
}

.content-main .main-slideshow .slideshow-body .item-image .image-content a {
  color: var(--color--background);
  text-decoration: none;
}

.content-main .main-slideshow .slideshow-body .item-image .image-content a .content-body div {
  padding-left: 5px;
}

.content-main .main-slideshow .slideshow-body .item-image .image-content a .content-logo {
  float: right;
  display: inline-block;
  margin: 10px 5px 0px 0px;
}

.content-main .main-manga {
  width: 100%;
  float: left;
  display: block;
}

.content-main .main-manga .manga-breadcrumbs {
  display: block;
  margin-top: 5px;
}

.content-main .main-manga .manga-breadcrumbs ul.breadcrumbs-item {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 7px 5px 5px 5px;
}

.content-main .main-manga .manga-breadcrumbs ul.breadcrumbs-item>li:first-child {
  margin-left: 5px;
}

.content-main .main-manga .manga-breadcrumbs ul.breadcrumbs-item li {
  display: inline;
  font-size: var(--font--size--hightlightes);
}

.content-main .main-manga .manga-breadcrumbs ul.breadcrumbs-item li+li::before {
  color: var(--color--primary--content);
  content: "» ";
}

.content-main .main-manga .manga-breadcrumbs ul.breadcrumbs-item li a {
  color: var(--color--primary--content);
  text-decoration: none;
}

.content-main .main-manga .manga-breadcrumbs ul.breadcrumbs-item li a:hover {
  color: var(--color--highlights--second);
}


.content-main .main-manga .manga-content {
  color: var(--color--content);
}
.content-main .main-manga .manga-content .content-select {
  display: inline-block;
  width: 100%;
  margin: 9px 0px 0px 0px;
}

.content-main .main-manga .manga-content .content-select [class^="select-"] {
  float:left;
}

.content-main .main-manga .manga-content .content-select .select-chapter {
  width:50%;
}
.content-main .main-manga .manga-content .content-select .select-next {
  width:25%;
}
.content-main .main-manga .manga-content .content-select .select-prev {
  width:25%;
}
.content-main .main-manga .manga-content .content-select .select-next .next-item::after {
  content: "next chapter"
}
.content-main .main-manga .manga-content .content-select .select-prev .prev-item::after {
  content: "prev chapter"
}

.content-main .main-manga .manga-content .content-select .select-next .next-item, .content-main .main-manga .manga-content .content-select .select-prev .prev-item, .content-main .main-manga .manga-content .content-select .select-chapter .chapter-item{
  color: var(--color--content);
  border: none;
  text-align: center;
  margin: 5px 0px;
  padding: 5px 0px;
  width:100%;
  background-color: var(--color--highlights--second);
}

.main-manga .manga-content .content-select .select-chapter .chapter-item{
  float: left;
}
 
.content-main .main-manga .manga-content .content-select .select-next .next-item, .content-main .main-manga .manga-content .content-select .select-prev .prev-item{
  float: right;
  margin: 5px 0px;
  padding: 5px 0px;
  width:90%;
  border-radius: 5px; 
}

.content-main .main-manga .manga-content .content-select .select-next .next-item:hover, .content-main .main-manga .manga-content .content-select .select-prev .prev-item:hover{
  background-color: var(--color--primary);
  cursor: pointer;
  text-decoration: underline;
}

.content-main .main-manga .manga-content .content-image img {
  width: 100%;
}

.content-main .main-manga .manga-content .content-item{
  display:grid;
  grid-template-columns: 40% 60%;
  background-color: var(--color--background);
}

.content-main .main-manga .manga-content .content-item .item-left{
  display:inline-block;
  text-align: center;
  position:relative;
}

.content-main .main-manga .manga-content .content-item .item-left .left-bookmark{
  position: absolute;
  top: 16px;
  left: 37px;
  width: 100px;
  border-radius: 3px;
  background: var(--color--content);
  opacity: 0.5;
  padding: 2px 1px 3px 4px;
  text-align: left;
}
.content-main .main-manga .manga-content .content-item .item-left .left-bookmark::after {
  content:"Bookmark";
  color:var(--color--background);
}
.content-main .main-manga .manga-content .content-item .item-left .left-bookmark:hover {
  opacity: 1;
  cursor: pointer;
}
.content-main .main-manga .manga-content .content-item .item-left .left-bookmark:hover:after {
  color:var(--color--highlights--second);
}
.content-main .main-manga .manga-content .content-item .item-left .left-bookmark:hover .icons-bookmark::before {
  color:var(--color--highlights--second);
}
.content-main .main-manga .manga-content .content-item .item-right .right-item{
  display:inline-block;
  width: 100%;
  padding: 14px 0px 0px 0px;
}
.content-main .main-manga .manga-content .content-item .item-right .right-item [class^="item-"]{
  float: left;
  padding: 0px 0px 0px 15px;
  display: inline-block;
  width: 80%;
}
.content-main .main-manga .manga-content .content-item .item-right .right-item span{
  float:left;
}

.content-main .main-manga .manga-content .content-item .item-right .right-item .item-title{
  font-size: var(--font--size--primary);
  font-weight: bold;
}

.content-main .main-manga .manga-content .content-item .item-right .right-item .item-alternative{
  padding: 0px 0px 0px 36px;
}
.content-main .main-manga .manga-content .content-item .item-right .right-item .item-alternative::before{
  content: "Alternative : ";
  font-weight: bold;
}
.content-main .main-manga .manga-content .content-item .item-right .right-item .item-author::before{
  content: "Author(s) : ";
  font-weight: bold;
}
.content-main .main-manga .manga-content .content-item .item-right .right-item .item-status::before{
  content: "Status : ";
  font-weight: bold;
}
.content-main .main-manga .manga-content .content-item .item-right .right-item .item-updated::before{
  content: "Last updated : ";
  font-weight: bold;
}
.content-main .main-manga .manga-content .content-item .item-right .right-item .item-view::before{
  content: "View : ";
  font-weight: bold;
}
.content-main .main-manga .manga-content .content-item .item-right .right-item .item-genres::before{
  content: "Genres : ";
  font-weight: bold;
}
.content-main .main-manga .manga-content .content-item .item-left img{
  border-radius: 10px;
  width: 80%;
  padding: 2px;
  margin: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.content-main .main-manga .manga-content .content-item .item-left img:hover {
  border: 1px solid var(--color--highlights--second);
  cursor: not-allowed;
}

.content-main .main-manga .manga-content .content-item .item-right{
  display:inline-block; 
}
.content-main .main-manga .manga-content .content-summary {
  background-color: var(--color--background);
}
.content-main .main-manga .manga-content .content-summary .summary-header {
  color: var(--color--highlights--primary);
}
.content-main .main-manga .manga-content .content-summary .summary-header::after {
  content:"summary:"
}

.content-main .main-manga .manga-content .content-chapter {
  background-color: var(--color--background);
  margin-top: 10px;
}

.content-main .main-manga .manga-content .content-chapter .chapter-header{
  display:grid;
  grid-template-columns: 60% 20% 20%
}

.content-main .main-manga .manga-content .content-chapter .chapter-header [class^='header-']{
  color: var(--color--highlights--primary);
  font-weight: bold;
}

.content-main .main-manga .manga-content .content-chapter .chapter-body{
  display:grid;
  grid-template-columns: 60% 20% 20%
}

.content-main .main-manga .manga-content .content-chapter .chapter-body [class^='body-']{
}

.content-main .main-manga .manga-header {
  margin-top: 10px;
}

.content-main .main-manga .manga-header .header-title {
  display: inline-block;
  padding: 3px 5px 5px 10px;
}

.content-main .main-manga .manga-item {
  width: 100%;
  float: left;
  background-color: var(--color--background);
  color: var(--color--content);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 5px 0px;
}

.content-main .main-manga .manga-item:hover {
  background-color: var(--color--highlights--thrid);
}

.content-main .main-manga .manga-item a img {
  float: left;
  height: 80px;
  box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
  border-radius: 5px;
  padding: 2px;
  margin: 4px;
  border: 1px solid var(--color--highlights--thrid);
}
.content-main .main-manga .manga-item a img.list {
  height: 180px !important;
  width: 135px !important;
}

.content-main .main-manga .manga-item ul {
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  padding: 10px 0px 10px 5px;
}

.content-main .main-manga .manga-item ul li {
  padding: 0px 0px 0px 0px;
}
.content-main .main-manga .manga-item ul .item-content {
  white-space: normal;
  line-height: 1.5em;
  height: 7.5em;
  overflow: hidden;
  padding-right: 10px;
}

.content-main .main-manga .manga-item ul li a {
  margin-bottom: -4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  font-size: var(--font--size--content)
}

.content-main .main-manga .manga-item ul li a:hover {
  text-decoration: underline;
}

.content-main .main-manga .manga-item ul li div a {
  color: var(--color--primary);
  font-weight: bold;
}

.content-main .main-manga .manga-item ul li span a {
  color: var(--color--content);
}

.content-main .main-manga .manga-item ul li i {
  padding-left: 30px;
}

.content-main .main-manga .manga-item ul li span:before {
  content: "\0BB \020";
}
.content-main .main-manga .manga-item ul li span.list:before {
  content: ""!important;
}

.content-main .main-manga .manga-item ul>li:first:before {
  content: "";
}

.content-main .main-manga .manga-pagging {
  display:inline-block;
  width:100%;
  font-size: var(--font--size--content);
  padding: 0px 0px 0px 0px;
}

.content-main .main-manga .manga-pagging .pagging-total {
  margin-top:5px;
  display:inline-block;
  padding: 5px 15px 5px 10px;
  border: 3px solid var(--color--primary);
}

.content-main .main-manga .manga-pagging .pagging-total::before{
  content: "total:"
}
.content-main .main-manga .manga-pagging .pagging-total::after{
  content: "stories"
}

.content-main .main-manga .manga-pagging .pagging-item {
  margin-top:5px;
  float:right;
}

.content-main .main-manga .manga-pagging .pagging-item [class^='item-'] {
  display:inline-block;
  padding:5px 15px 5px 15px;
  border: 3px solid var(--color--primary);
}
.content-main .main-manga .manga-pagging .pagging-item [class^='item-']:hover {
  border: 3px solid var(--color--highlights--second);
  cursor: pointer;
}

.content-main .main-manga .manga-pagging .pagging-item .item-first::before {
  content:"first("
}
.content-main .main-manga .manga-pagging .pagging-item .item-first::after {
  content:")"
}
.content-main .main-manga .manga-pagging .pagging-item .item-last::before {
  content:"last("
}
.content-main .main-manga .manga-pagging .pagging-item .item-last::after {
  content:")"
}

.content-main .main-manga .manga-footer {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 5px 0px 7px 2px;
}

.content-main .main-manga {
  width: 100%;
  display: inline-block;
}

.content-main .main-manga .manga-footer:hover {
  background-color: var(--color--highlights--second);
  cursor: pointer;
}

.content-main .main-home-popular {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

.content-main .main-home-popular .home-header {}

.content-main .main-home-popular .home-header .header-title {
  padding: 3px 5px 3px 10px;
  display: inline-block;
}

.content-main .main-home-popular .home-content .content-item {
  padding: 5px 0px 8px 5px;
}

.content-main .main-home-popular .home-content .content-item a {
  margin: 0px 0px -4px 0px;
}

.content-main .main-home-popular .home-content .content-item a:hover {
  margin: 0px 0px -4px 20px;
  text-shadow: 0 0 5px #ff6;
}

.content-main .main-home-genres {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

.content-main .main-home-genres .home-header {
  padding: 0px;
}

.content-main .main-home-genres .home-header .header-title {
  display: inline-block;
  padding: 5px 10px 5px 10px;
}

.content-main .main-home-genres .home-content {
  color:var(--color--content);
  background:var(--color--background);
  font-size:var(--font--size--content);
}

.content-main .main-home-genres .home-content .content-item-group {
  display: block;
  width: 100%;
}
.content-main .main-home-genres .home-content .content-item-group.list {
  width: 15% !important;
}

.content-main .main-home-genres .home-content .content-item-group .item {
  display: inline-block;
  width: 29%;
  padding: 5px 0px 5px 10px;
}

.content-main .main-home-genres .home-content .content-item-group .item:hover {
  color:var(--color--highlights--second);
  cursor: pointer;
  text-decoration: underline;
}

.content-main .main-footer {
  display:inline-block;
  color:var(--color--content);
  background:var(--color--background);
  font-size:var(--font--size--content);
  padding: 10px 10px 0px 10px;
  margin-top: 10px;
}
.content-main .main-footer .footer-header{
 font-weight: bold;
}
.other-content {
  display: block;
}

#item-detail-info.item-detail {
  display: none;
  top: 0;
  -webkit-box-shadow: 0 7px 4px #777;
  -moz-box-shadow: 0 7px 4px #777;
  box-shadow: 0 7px 4px #777;
  border: 1px solid var(--color--highlights--second);
  width: 400px;
  color: var(--color--content);
  background-color: var(--color--background);
  padding: 10px;
  padding-top: 10px;
  position: absolute;
}

#item-detail-info.item-detail .detail-title {
  font-size: var(--font--size--hightlightes);
  font-weight: bold;
  padding-bottom: 5px;
  display: inherit;
}

#item-detail-info.item-detail .detail-content .content-info {
  font-size: var(--font--size--hightlightes);
  display: inline-block;
  width: 100%;
}

#item-detail-info.item-detail .detail-content .content-info img {
  padding: 3px;
  height: 120px;
  border-radius: 3px;
  border: 1px solid var(--color--highlights--thrid);
  float: left;
}

#item-detail-info.item-detail .detail-content .content-info .info-body {
  float: left;
  width: 300px;
}

#item-detail-info.item-detail .detail-content .content-info .info-body p {
  margin: 5px 0px 0px 5px;
  font-size: var(--font--size--content);
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inherit;
}

#item-detail-info.item-detail .detail-content .content-info .info-body p::before {
  color: var(--color--primary);
  font-weight: bold;
}

#item-detail-info.item-detail .detail-content .content-info .info-body .body-alternative::before {
  content: "Alternative: ";
}

#item-detail-info.item-detail .detail-content .content-info .info-body .body-author::before {
  content: "Author(s): ";
}

#item-detail-info.item-detail .detail-content .content-info .info-body .body-update::before {
  content: "Update: ";
}

#item-detail-info.item-detail .detail-content .content-info .info-body .body-view::before {
  content: "View: ";
}

#item-detail-info.item-detail .detail-content .content-info .info-body .body-genres::before {
  content: "Genres: ";
}

#item-detail-info.item-detail .detail-content .content-summary {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 3px solid var(--color--primary);
  width: 100%;
}

#item-detail-info.item-detail .detail-content .content-summary::before {
  content: "Summary: ";
  color: var(--color--primary);
  font-weight: bold;
}
#bottom-up {
  display:block;
  position:fixed;
  bottom: 20px;
  right:30px;
  z-index: 99;
  background:var(--color--content);
  opacity: 0.5;
  cursor:pointer;
  border-radius: 4px;
  padding:15px;
  transform: rotate(270deg);
}
#bottom-up:hover {
  opacity: 1;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.action-hover {
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
}

.boder-top {
  border-top: 3px solid var(--color--highlights--second);
}

.boder-top-dashed {
  border-top: 3px dashed var(--color--highlights--second);
}

.boder-bottom {
  border-bottom: 3px solid var(--color--highlights--second);
}


.main-header {
  background-color: var(--color--primary);
  color: var(--color--primary--content);
  font-size: var(--font--size--primary);
  text-decoration: none;
}
.main-header-small {
  background-color: var(--color--primary);
  color: var(--color--primary--content);
  font-size: var(--font--size--content);
  text-decoration: none;
}

.main-content {
  color: var(--color--content);
  font-size: var(--font--size--content);
  text-decoration: none;
}

.main-content-header {
  color: var(--color--primary--content);
  font-size: var(--font--size--content);
  text-decoration: none;
}

.content-padding {
  padding: 10px 0px 0px 10px;
}

.upper-text {
  text-transform: uppercase;
}

.over-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  display: inline-block;
}

.icon-arrow::before {
  content: "\2192";
  border-radius: 50%;
  border: 1px solid white;
  padding: 0px 2px 3px 4px;
  color: white;
}

.icon-arrow-auto::before {
  content: "\2192";
  border-radius: 50%;
  border: 1px solid var(--color--background);
  padding: 0px 2px 3px 4px;
  color: var(--color--background);
}

.icons-arrow-top::before {
  content: "\27A4";
  color: var(--color--background);
}

.icon-thum-up::before {
  content: "\1f44d";
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 3px 0px 0px;
  color: white;
}

.icon-search::before {
  content: "\1f50d";
  color: white;
}

.icon-popular::before {
  content: "\1f31f";
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 1px 0px 2px;
}

.icons-light::before {
  content: "\1f319";
  color: var(--color--dark--light);
  border-radius: 50%;
  border: 1px solid var(--color--dark--light);
  padding: 1px 3px 0px 0px;
}

.icons-light:hover:before {
  color: var(--color--dark--light--hover);
  border: 1px solid var(--color--dark--light--hover);
}

.icon-bookmark::before {
  content: "\1f516";
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 2px 0px 2px;
}

.icons-bookmark::before {
  content: "\1f516";
  color: var(--color--background);
  border-radius: 2%;
  padding: 1px 2px 0px 2px;
}

.icon-history::before {
  content: "\1f4dc";
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 2px 0px 2px;
}

.icon-logout::before {
  content: "\1f6aa";
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 6px 1px 6px;
}

.icon-login::before {
  content: "\1f511";
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 2px 0px 2px;
}

.icon-register::before {
  content: "\1f4dd";
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 2px 0px 2px;
}
.icon-view::before {
  content: "\1f3a5";
  color: var(--color--content);
  padding: 0px 3px 0px 2px;
}

.icon-tags::before {
  content: "\1f525";
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 1px 2px 0px 2px;
}

.bg-orage {
  background-color: #ff530d;
  border-radius: 50%;
}
.icons-title::before {
  content: "\270D";
  color: white;
  border-radius: 50%;
  padding: 0px 5px 2px 5px;
}
.icons-author::before {
  content: "\1f468";
  color: white;
  border-radius: 50%;
  padding: 0px 3px 0px 2px;
}
.icons-status::before {
  content: "\1f3c1";
  color: white;
  border-radius: 50%;
  padding: 0px 3px 0px 2px;
}
.icons-updated::before {
  content: "\023f0";
  color: white;
  border-radius: 50%;
  padding: 0px 3px 0px 2px;
}
.icons-view::before {
  content: "\1f3a5";
  color: white;
  border-radius: 50%;
  padding: 0px 3px 0px 2px;
}
.icons-genres::before {
  content: "\1f525";
  color: white;
  border-radius: 50%;
  padding: 0px 3px 0px 2px;
}

.boder-top-bottom {
  border-top: 3px solid var(--color--highlights--second);
  border-bottom: 3px solid var(--color--highlights--second);
}

[class^='icon-']:hover:before {
  color: var(--color--highlights--second);
  border-color: var(--color--highlights--second);
}
.content-specal {
  color:var(--color--highlights--primary)!important;
  font-weight: bold;
}
.content-active {
  color:var(--color--primary);
  font-weight: bold;
}

.active {
  background-color: var(--color--highlights--second) !important;
  border: 3px solid var(--color--highlights--second)!important;
}

.none {
  display:none !important;
}

.bg-popular-1 {
  background: #c0392b;
}

.bg-popular-2 {
  background: #e84c3d;
}

.bg-popular-3 {
  background: #e67e22;
}

.bg-popular-4 {
  background: #f1c40f;
}

.bg-popular-5 {
  background: #2ecc71;
}

.bg-popular-6 {
  background: #27ae60;
}

.bg-popular-7 {
  background: #1abc9c;
}

.bg-popular-8 {
  background: #16a085;
}

.bg-popular-9 {
  background: #3498db;
}

.bg-popular-10 {
  background: #2980b9;
}

@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

@media only screen and (max-width:720px) {
  .content-main {
      margin: 5px 0px 0px 0px;
      padding: 0px;
  }
  .nav {
      margin: 0px;
  }
  .nav .nav-menu .menu-web {
      display: none;
  }
  .nav .nav-menu .menu-drop {
      display: inline-block;
  }
  .nav .nav-menu .menu-drop:hover .menu-drop-content {
      display: block;
  }
  .nav .nav-menu .menu-drop:hover .menu-drop-button {
      color: var(--color--highlights--second);
      cursor: pointer;
  }
  .content-main .main-slideshow .slideshow-body .item-image {
    width:50%;
  }
  .content-main .main-slideshow .slideshow-body .item-image img {
      display: block;
      height: 300px;
      width: 99%;
  }
  .content-main .main-manga .manga-item {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 5px 0px;
  }
  .content-main .main-manga .manga-pagging {
    text-align: center;
  }
  .content-main .main-manga .manga-pagging .pagging-total {
    display: inline-block;
    margin:auto;
    float:none;
    margin-top:10px;
  }  
  
  .content-main .main-manga .manga-pagging .pagging-item {
    display: inline-block;
    margin:auto;
    float:none;
  }
  .content-main .main-manga .manga-content .content-select {
    width:100%;
    display: inline-block;
  }
  .content-main .main-manga .manga-content .content-select .select-chapter {
    width:100%;
  }
  .content-main .main-manga .manga-content .content-select .select-next {
    width:50%;
  }
  .content-main .main-manga .manga-content .content-select .select-prev {
    width:50%;
  }
  .content-main .main-manga .manga-content .content-select .select-next .next-item {
    float:left;
  }
  .content-main .main-home-genres .home-content .content-item-group.list {
    display: inline-block;
    width:32%;
  }
  .nav .nav-search #search-display input[type=text] {
      width: 70%;
  }
  .nav .nav-search #search-display button {
      width: 25%;
  }
}

@media only screen and (min-width:900px) {
  .content-main .main-manga .manga-item {
      width: 50%;
  }
}

@media only screen and (min-width:1280px) {
  .content-main {
      width: 1180px;
      margin: auto;
      padding: 0px;
  }
  .nav {
      margin-top: 20px;
      width: 1180px;
      margin: 20px auto 10px auto;
  }
  .content-main .main-slideshow .slideshow-body .item-image {
    width:20%;
  }
  .content-main .main-manga {
      width: 70%;
      float: left;
      display: block;
  }
  .content-main .main-manga.list {
    width: 100% !important;
  }
  .content-main .main-home-popular {
      width: 30%;
      float: left;
      display: block;
  }
  .content-main .main-home-popular .home-header,
  .content-main .main-home-popular .home-content {
      margin-left: 10px;
  }
  .content-main .main-home-genres {
      width: 30%;
      float: right;
      display: block;
      margin-top: 10px;
  }
  .content-main .main-home-genres.list {
    width: 100%!important;
  }
  .content-main .main-home-genres.list .home-content, .content-main .main-home-genres.list .home-header {
    margin-left: 0px!important;
  }
  
  .content-main .main-home-genres .home-header,
  .content-main .main-home-genres .home-content {
      margin-left: 10px;
  }
  .content-main .main-manga .manga-item {
      width: 50%;
  }
  .nav .nav-search #search-display input[type=text] {
      width: 89%;
  }
  .nav .nav-search #search-display button {
      width: 10%;
  }
  .content-main .main-manga .manga-content .content-select .select-chapter {
    width:60%;
  }
  .content-main .main-manga .manga-content .content-select .select-next {
    width:20%;
  }
  .content-main .main-manga .manga-content .content-select .select-prev {
    width:20%;
  }
}