@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    background-color: #2E3190;
    scroll-behavior: smooth
}

body {
    margin: 300;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root,
[data-theme] {
    color: white;
}

progress[value]::-webkit-progress-bar {
    background-color: #383838;
}

.highcharts-credits {
    display: none !important;
}

.btn {
    outline: none !important;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}